body {
	margin: 0;
	padding: 0;

	font-family: 'Roboto', Myriad Pro, sans-serif;
	font-size: 16px;
	line-height: 24px;
	font-weight: 500;
	color: #283136;

	background-color: #ffffff;
}
a {
	text-decoration: none;
}
.button {
	font: inherit;

	text-align: center;
	color: #ffffff;
	text-transform: uppercase;

	background-color: #fb565a;
	border: none;
	border-radius: 2px;
}
.button:hover,
.button:focus {
	color: #ffffff;
	background-color: #e74246;
}
.button:active {
	color: #ffffff;
	opacity: 0.3;
	background-color: #d7373b;
}
.main-navigation {
	font-size: 16px;
	line-height: 30px;
	color: #000000;
	text-transform: uppercase;

	background-color: #eeeeee
}
.main-header-logo:hover {
	opacity: 0.8;
}
.main-header-logo:focus {
	opacity: 0.3;
}
.site-navigation,
.basket {
	list-style: none;
	text-transform: uppercase;
	color: #000000;
}
.site-navigation a,
.basket {
	color: #000000;
}
.site-navigation a:hover,
.site-navigation a:focus,
.basket:hover,
.basket:focus {
	color: #fb565a;
}
.site-navigation a:active,
.basket:active {
	color: #000000;
	opacity: 0.3;
}
.slogan-slider-headline {
	font-size: 55px;
	line-height: 55px;
	font-weight: 700;
	color: #000000;
}
.slogan-slider {
	background-color: #eeeeee;
}

.we-text {
	font-size: 45px;
	line-height: 45px;
	color: #000000;
}
.content {
	font-size: 16px;
	line-height: 24px;
}
.quality-slogan {
	font-size: 16px;
	line-height: 24px;
	color: #000000;
	text-transform: uppercase;
}
.services-list {
	list-style: none;
}
.services-item {
	text-align: left;
	font-size: 16px;
	line-height: 24px;
}
.services-item h3 {
	font-size:24px;
	line-height: 30px;
	text-transform: uppercase;
}
.quality-table {
	border-collapse: collapse;
	border: 2px solid #ffffff;
}
.table-item1 {
	font-size: 45px;
	line-height: 10px;
	color: #000000;
	text-transform: uppercase;
	font-weight: 700;
}
.table-item2 {
	font-size: 16px;
	line-height: 18px;
}
.button-red {
	font: inherit;
	width: 160px;
	height: 50px;
	color: #ffffff;
	text-transform: uppercase;

	background-color: #fb565a;
}
.button-red:hover,
.button-red:focus {
	color: #ffffff;
	background-color: #e74246;
}
.button-red:active {
	color: rgba(255, 255 ,255 ,0.3);
	background-color: #d7373b;
	box-shadow: inset 3px 0 0 rgba(0, 1, 1, 0.1);
}
.button-green {
	font: inherit;
	width: 160px;
	height: 50px;
	color: #ffffff;
	text-transform: uppercase;

	background-color: #00ca74;
}
.button-green:hover,
.button-green:focus {
	color: #ffffff;
	background-color: #00bc6c;
}
.button-green:active {
	color: rgba(255, 255, 255, 0.3);
	background-color: #00aa62;
	box-shadow: inset 3px 0 0 rgba(0, 1, 1, 0.1);
}
.button-yellow {
	font: inherit;
	width: 160px;
	height: 50px;
	color: #ffffff;
	text-transform: uppercase;

	background-color: #efc84a;
}
.button-yellow:hover,
.button-yellow:focus {
	color: #ffffff;
	background-color: #eab534;
}
.button-yellow:active {
	color: rgba(255, 255, 255, 0.3);
	background-color: #e5a722;
	box-shadow: inset 3px 0 0 rgba(0, 1, 1, 0.1)
}
.partners-list {
	font-size: 16px;
	line-height: 24px;
	color: #000000;
	text-transform: uppercase;
	list-style: none;
}
.partners-item {
	opacity: 0.2;
}
.partners-item:hover,
.partners-item:focus {
	opacity: 1;
}
.partners-item:active {
	opacity: 0.1;
}
.footer-contacts {
	color: #000000;
	font-size: 18px;
	line-height: 30px;
	font-weight: 700;
	text-align: left;
	text-transform: uppercase;
}
.footer-contacts-text {
	color: #666666;
	font-size: 16px;
	line-height: 18px;
	text-align: left;
}
.footer-social {
	text-align: center;
}
.social-link {
	list-style: none;
}
.footer-social-caption {
	font-size: 36px;
	line-height: 36px;
	font-weight: 700;
	color: #000000;
}
.footer-social-item {
	font-size: 16px;
	line-height: 22px;
	color: #444444;
}
.modal h2 {
	font-size: 16px;
	line-height: 18px;
	text-transform: uppercase;
}
.communications-item {
	font: inherit;
	text-align: left;
	font-size: 16px;
	line-height: 18px;
	font-weight: 700;
	color: #000000;
}
.communications-item input[type="text"],
.communications-item input[type="email"] {
	font-size: 16px;
	line-height: 18px;
	font: inherit;
	color: #e1e1e1;

	background-color: #ffffff;
	border: 2px solid #e1e1e1;
}
.communications-form input:hover {
	border-color: #000000;
	color: #000000;
	opacity: 0.5;
}
.communications-form input:focus {
	border-color: #000000;
	color: #444444;
}
.communications-form input:invalid {
	border-color: #e74246;
	color: #e74246;
}
.page-title {
	text-align: center;
	font-size: 55px;
	line-height: 55px;
	color: #000000;

	background-color: #eeeeee;
}
.site-navigation-current {
	border-bottom: 2px solid #fb565a;
}
.filter-option {
	list-style: none;
}
.filter-type {
	list-style: none;
}
.filter-arrow {
	list-style: none;
}
.filter-item a {
	font-size: 14px;
	line-height: 18px;
	color: #000000;
	opacity: 0.3;
	text-transform: uppercase;
}
.filter-item a:hover,
.filter-item a:focus {
	font-size: 14px;
	line-height: 18px;
	color: #000000;
	opacity: 0.6;
	text-transform: uppercase;
}
.filter-item a:active {
	font-size: 14px;
	line-height: 18px;
	color: #000000;
	text-transform: uppercase;
}
.filtres fieldset {
	border: none;
}
.filtres legend {
	font-size: 18px;
	line-height: 30px;
}
.filtres ul {
	font-size: 16px;
	line-height: 20px;
}
.filter-input:hover + label {
	color: #000000;
}
.filter-input:focus + label {
	color: #000000;
}
.filter-input:disabled + label {
	color: #ededed;
	opacity: 0.3;
}
.filter-batton {
	font-size: 16px;
	line-height: 35px;
	color:  #000000;
	text-transform: uppercase;
	background-color: #eeeeee;
	border-radius: 2px;
}
.filter-batton:hover,
.filter-batton:focus {
	background-color: #dfdfdf;
}

.filter-batton:active {
	color: rgba(0, 0, 0, 0.3);
	background-color: #d5d5d5;
	box-shadow: inset 3px 0 0 rgba(0, 1, 1, 0.1);
}
.filter-item-current a {
	font-size: 14px;
	line-height: 18px;
	color: #000000;
	text-transform: uppercase
}
.catalog-list {
	list-style: none;
}
.catalog-item a {
	color: #000000;
	font-size: 18px;
	line-height: 50px;
	font-weight: 700;
	text-transform: uppercase;
}
.catalog-item-text {
	color: #000000;
	font-size: 16px;
	line-height: 18px;
	color: #666666;
}
a.button-buy {
	color: #ffffff;
	font-size: 16px;
	line-height: 18px;
	text-transform: uppercase;
	border-radius: 2px;

	background-color: #fb565a;
}
a.button-buy:hover,
a.button-buy:focus {
	color: #ffffff;

	background-color: #e74246;
}
a.button-buy:active {
	color: #ffffff;

	background-color: #d7373b;
}
.pagination-list {
	list-style: none;
}
.pagination-item a {
	color: #000000;

	background-color: #eeeeee;
}
.pagination-item a:hover,
.pagination-item a:focus {
	color: #000000;

	background-color: #d5d5d5;
}
.pagination-item a:active {
	color: rgba(0, 1, 1, 0.3);

	background-color: #d5d5d5;
	box-shadow: inset 2px 0 0 rgba(0, 1, 1, 0.1);
}
.pagination-item-current {
	color: #000000;
	background-color: #ffffff;
}
/* ----- Сеточные стили -----*/
.main-navigation {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.main-header-logo {
	width: 160px;
	height: 65px;
	order: 0;
}
.site-navigation {
	margin: 0;
	padding: 0;
	width: 500px;
}
.basket {
	width: 170px;
}
.container {
	width: 1160px;
	margin: 0 auto;
	padding: 0 10px;
}
.main-navigation .container {
	display: flex;
	justify-content: space-between;
}
.services-list {
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: space-between;
	margin-bottom: 80px;
}
.services-item {
	width: 300px;
}
.slogan-slider {
	margin-bottom: 80px;
}
.index-columns {
	display: flex;
	justify-content: space-between;
	margin-bottom: 80px;
}
.we {
	width: 660px;
}
.quality {
	width: 360px;
}
.partners-list {
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: space-between;
	margin-bottom: 80px;
}
.footer-social {
	margin-top: 60px;
}
.footer-social .container {
	display: flex;

}
.footer-social-column {
	width: 560px;
	margin: 0;
	margin-left: 140px;
}
.social-link {
	padding: 0;
	margin: 0;
	width: 260px;
	order: 2;
	margin-right: auto;
}
.inner-page .main-header {
	margin-bottom: 80px;
}
.inner-page .main-header-logo {
	width: 160px;
	height: 65px;
	order: 0;
	margin-right: 200px;
}
.inner-page .main-navigation {
	align-items: flex-start;
	flex-direction: row;
}
.inner-page .basket {
	margin-left: auto;
}
.page-title {
	margin: 0;
	padding: 0;
	margin-bottom: 165px;
}
.catalog-columns {
	display: flex;
	justify-content: space-between;
}
.filtres {
	width: 260px;
}
.catalog {
	width: 760px;
}
.catalog-item {
	width:  360px;
	margin-bottom: 30px;
	margin-right: 40px;
}
.catalog-list {
	margin: 0;
	padding: 0;
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 60px;
}
.catalog-item:nth-child(2n) {
	margin-right: 0;
}
.pagination-list {
	margin: 0;
	padding: 0;
}
